@model IndexViewModel

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Месяц: <input type="text" name="monthFilter" value="@ViewData["CurrentMonthFilter"]"/>
            Год: <input type="text" name="yearFilter" value="@ViewData["CurrentYearFilter"]"/>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Время</th>
        <th>Темп. воздуха</th>
        <th>Отн. влажность воздуха</th>
        <th>Точка росы</th>
        <th>Атм. давление</th>
        <th>Направление ветра</th>
        <th>Скорость ветра</th>
        <th>Облачность</th>
        <th>Нижн. граница видимости</th>
        <th>Горизонтальная видимость</th>
        <th>Погодные явления</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var weatherForecast in Model.WeatherForecasts)
    {
        <tr>
            <td>@Html.DisplayFor(wf => weatherForecast.Date)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.Time)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.Temperature)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.RelativeHumidity)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.DewPoint)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.AtmospherePressure)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.WindDirection)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.WindSpeed)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.Cloudiness)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.CloudCeiling)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.HorizontalVisibility)</td>
            <td>@Html.DisplayFor(wf => weatherForecast.WeatherEvents)</td>
        </tr>
    }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-currentMonthFilter="@ViewData["currentMonthFilter"]"
       asp-route-currentYearFilter="@ViewData["currentYearFilter"]"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-currentMonthFilter="@ViewData["currentMonthFilter"]"
       asp-route-currentYearFilter="@ViewData["currentYearFilter"]"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}