@model IEnumerable<WeatherForecast>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Темп. воздуха</th>
            <th>Отн. влажность воздуха</th>
            <th>Точка росы</th>
            <th>Атм. давление</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
            <th>Облачность</th>
            <th>Нижн. граница видимости</th>
            <th>Горизонтальная видимость</th>
            <th>Погодные явления</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weatherForecast in Model)
        {
            <tr>
                <td>@Html.DisplayFor(wf => weatherForecast.Date)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.Time)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.Temperature)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.RelativeHumidity)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.DewPoint)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.AtmospherePressure)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.WindDirection)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.WindSpeed)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.Cloudiness)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.CloudCeiling)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.HorizontalVisibility)</td>
                <td>@Html.DisplayFor(wf => weatherForecast.WeatherEvents)</td>
            </tr>
        }
    </tbody>
</table>